/* common class */
.font-weight-bold {
  font-weight: 500;
}

.separate-line::after {
  height: 1.3rem;
  border-left: 2px solid hsla(0, 0%, 100%, 0.22);
  content: "";
  margin-left: 17px;
}

/* common class */

.header {
  height: 120px;
  background-image: linear-gradient(0, #ee4d2d, #ff424f);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header-navbar__list {
  list-style: none;
  padding-left: 0;
}

.header-navbar__list li {
  margin: 0 7px;
}

.header-navbar__list li a,
.header-navbar__list li {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

.header-navbar__list li a :hover {
  opacity: 0.6;
  
}

.header__navbar-icon {
  font-size: 1.3rem;
  padding: 0 2px;
}

.header__navbar-disable-click {
  cursor: text;
  color: var(--white-color);
}

/* header QR */
.header__qr {
  position: absolute;
  background-color: var(--white-color);
  width: 180px;
  border-radius: 2px;

  padding: 8px;
  margin-top: 13px;
  
  display: none;
}

.header__qr::before {
  left: 0;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: black; */
  top: -13px;
}


.header-show-qr:hover .header__qr {
  display: block;
  position: absolute;
}

.header-show-qr{
  position: relative;
}
.qr-image {
  width: 100%;
}

.social-network-connect {
  display: flex;
  justify-content: space-between;
}

.social-network-connect img {
  height: 18px;
}
/* end header QR */

/* begin header notify */

.header__notice {
  position: relative;
}


.header__notify{
  width:404px;
  background-color:var(--white-color);
  top: 100%;
  position: absolute;
  right: 0;





}

.header__notify-header {

}

.header__notify-list {

}

.header__notify-body {
  display: flex;

}

.header__notify-body-img {
  width: 50%;

}

.header__notify-body-title {

}

.header__notify-body-content {

}

.header__notify-view-all {

}

.header__notify-header {

}




/* begin header notify */

