/* common class */
.font-weight-bold {
  font-weight: 500;
}

.separate-line::after {
  height: 1.3rem;
  border-left: 2px solid hsla(0, 0%, 100%, 0.22);
  content: "";
  margin-left: 17px;
}

/* common class */

.header {
  height: 120px;
  background-image: linear-gradient(0, #ee4d2d, #ff424f);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header-navbar__list {
  list-style: none;
  padding-left: 0;
}

.header-navbar__list li {
  margin: 0 7px;
}

.header-navbar__list li a,
.header-navbar__list li {
  display: inline-block;
  text-decoration: none;

  font-size: 1.3rem;
}

.header-navbar__list li a {
  color: var(--white-color);
}

.header-navbar__list li a :hover {
  opacity: 0.6;
}

.header__navbar-icon {
  font-size: 1.3rem;
  padding: 0 2px;
}

.header__navbar-disable-click {
  cursor: text;
  color: var(--white-color);
}

/* header QR */
.header__qr {
  position: absolute;
  background-color: var(--white-color);
  width: 180px;
  border-radius: 2px;

  padding: 8px;
  margin-top: 13px;
  z-index: 1000;

  display: none;
}

.header__qr::before {
  left: 0;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 20px;
  /* background-color: black; */
  top: -13px;
}

.header-show-qr:hover .header__qr {
  display: block;
  position: absolute;
}

.header-show-qr {
  position: relative;
}

.qr-image {
  width: 100%;
}

.social-network-connect {
  display: flex;
  justify-content: space-between;
}

.social-network-connect img {
  height: 18px;
}

/* end header QR */

/* begin header notify */

.header__notice {
  position: relative;
}

.header__notice:hover .header__notify {
  display: block;
}

.header__notify {
  width: 300px;
  background-color: var(--white-color);
  top: 25px;
  position: absolute;
  right: 0;
  display: none;
  animation: headerNotifyGrowth ease-in 0.3s;
  transform-origin: top right;
  /*set animation's center*/
  z-index: 100;
}

/* create animation */
@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;

    transform: scale(1);
  }
}

/* end animation */

.header__notify::before {
  content: "";
  border-top: none;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
  border-left: 15px solid transparent;

  position: absolute;
  top: -13px;
  right: 22px;
}

.header__notify-header {
  padding: 10px;
  color: rgb(193, 180, 180);
}

.header__notify-list {
}

.header__notify-body {
  display: flex;
  background-color: #f0a99b2d;
  padding: 10px;
}

.header__notify-body:hover {
  background-color: var(--white-color);
}

.header__notify-body-img {
  width: 50px;
  height: 50px;
}

.header__notify-body-content-container {
  margin-left: 10px;
}

.header__notify-body-title {
  margin: 5px;
}

.header__notify-body-content {
}

.header__notify-view-all {
  color: #090909ec !important;
  background-color: rgba(231, 201, 201, 0.092);
  padding: 10px;
  display: block;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.header__notify-view-all:hover {
  background-color: #ead9d95c;
}

.header__notify-header {
}

/* end header notify */

/* begin modal css */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* display: flex; */
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

/* .modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  
} */

.modal__body {
  width: 300px;
  height: 350px;
  background-color: #fff;
  margin: auto;
  z-index: 3;
  border-radius: 5px;
  position: relative;
  top: 160px;
  animation: modalAnimation 0.5s ease;
}

/* css auth__form modal */

.auth-form {
}

.auth-form__container {
  padding: 0 22px;
  position: relative;
}

.auth-form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.auth-form__heading {
  font-size: 1.8rem;
  font-weight: 400;
}

.auth-form__switch-button {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--primary-color);
}

.auth-form__input-form {
  margin-top: 20px;
  margin-bottom: px;
}

.auth-form__input-list {
  height: 120px;
}

.auth-form__input {
  width: 100%;
  margin-bottom: 15px;
  padding: 6px;
  font-size: 1.3rem;
  border: 1px solid #6b656574;
  border-radius: 2px;
  outline: none;
}

.auth-form__policy {
  margin-top: 3px;
  margin-bottom: 50px;
}

.auth-form__agreement {
  padding: 0 7px;
  text-align: center;
}

.auth-form__agreement-link {
  font-size: 1rem;
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__controls {
  position: absolute;
  right: 22px;
}

.auth-form__socials {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgb(204 204 204 / 47%);
  text-align: center;
  padding: 10px 0;
}

.btn.btn--with-icon {
  text-transform: capitalize;
  text-decoration: none;
}

.btn--with-icon-facebook {
  padding: 5px;
  background-color: #27466e;
  color: var(--white-color);
  margin-right: 5px;
}

.btn--with-icon-google {
  color: rgb(83, 80, 86);
  padding: 5px;
}

.btn--with-icon-facebook-f {
  margin-right: 15px;
  font-size: 1.4rem;
}

.btn--with-icon-google-g {
  margin-right: 20px;
  font-size: 1.4rem;
}

/* end css auth__form modal */

/* CSS MODAL__BODY LOGIN */

.modal__body-login {
  width: 400px;
}

.auth-form__input-form-login {
  height: 80px;
}

.auth-form__agreement-login {
  text-align: right;
}

.auth-form__agreement-link-login-forget {
  font-size: 11px;
  font-weight: 500;
}

.auth-form__agreement-link-login-help {
  font-size: 11px;
  color: #9ea19ae0;
}

/*END CSS MODAL__BODY LOGIN */

/* create modal animation */
@keyframes modalAnimation {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* end modal animation */

/* end modal css */

/* CSS HEADER - SEARCH */

.header__search {
  display: flex;
  align-items: center;
  margin: auto 360px;
  position: relative;
}

.header__search-logo-img {
  width: 146px;
  height: 39px;
}

.header__search-logo-img path {
  fill: var(--white-color);
}

.header__search-input {
  height: 40px;
  background-color: var(--white-color);
  flex: 1;
  border-radius: 3px;
  display: flex;
}

.header__search-input-enter {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 16px;
  border-radius: 3px;
  font-size: 1.4rem;
}

.header__search-selection {
  display: flex;
  align-items: center;
  width: 165px;
  border-left: 1px solid rgb(165, 155, 174, 0.4);
  padding-left: 5px;
  margin: 3px 0;
  position: relative;
}

.header__search-selection-text {
  font-size: 1.3rem;
  color: var();
}

.header__search-selection-icon {
  font-size: 1rem;
  margin-left: 28px;
  color: #7d7472;
  position: relative;
  top: 1px;
}

.header__search-input-search-icon {
  padding: 11px;
  font-size: 14px;
  background-color: #f04b31;
  color: #fff;
  margin: 2px;
  border-radius: 2px;
  width: 70px;
  text-align: center;
}

.header__search-input-search-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__search-cart {
  width: 140px;
  height: 60px;
  text-align: center;
  position: relative;
}

.header__search-cart-icon {
  padding: 22px;
  font-size: 27px;
  color: white;
}

.header__category {
}

.header__search-option {
  position: absolute;
  right: -2px;
  top: 27px;
  width: 172px;
  display: none;
}
.header__search-selection:hover .header__search-option {
  display: block;
}

.header__search-option::before {
  content: "";
  width: 100%;
  height: 20px;
  background-color: transparent;
  position: absolute;
  top: -4px;
}

.header__search-option-item {
  list-style: none;
  background-color: var(--white-color);

  padding: 8px;
  /* justify-content: flex-end; */
  display: flex;
}

.header__search-option-item:hover {
  opacity: 0.9;
  cursor: pointer;
}

.header__search-option-item span {
  font-size: 1.3rem;
  color: #444141;
}

.header__search-option-item i {
  font-size: 1.3rem;
  color: var(--primary-color);

  margin-left: 13px;
  display: none;
}

.header__search-option-item--active i {
  display: inline-block;
}

/* END CSS HEADER - SEARCH */

/* CSS MODAL SEARCH */

.modal__search {
  background-color: white;
  position: absolute;
  top: 53px;
  left: 147px;
  width: 361px;
  border-radius: 3px;
  box-shadow: 3px 2px 3px 1px #9f888854;
  display: none;
  z-index: 10;
}

.modal__search-title {
  padding: 13px 7px 7px 15px;
  color: #a8b6c3f5;
  font-size: 16px;
}

.modal__search-list {
  list-style: none;
  padding-left: 15px;
  font-size: 14px;
}

.modal__search-list li a {
  text-decoration: none;
  color: black;
  padding: 5px 0;
  display: block;
}

.modal__search-list li a:first-child {
  margin-bottom: 5px;
}

/* END CSS MODAL SEARCH */

/* CSS EMPTY CART */

.header__search-cart-show {
  width: 400px;
  background-color: white;
  position: absolute;
  top: 54px;
  right: 45px;
  border-radius: 3px;
  display: none;
  z-index: 1;
}

.header__search-cart:hover .header__search-cart-show {
  display: block;
}

.header__search-cart-show::before {
  content: "";
  position: absolute;
  right: 3px;
  top: -28px;
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.cart-show-body {
  justify-content: space-between;
}

.cart-show-header {
  text-align: left;
  font-size: 1.3rem;
}

.cart-show-body-img {
  width: auto;
  height: 34px;
}

.cart-show-body-content-container {
  text-align: left;
  margin-left: -90px;
}

.cart-show-body-title {
  margin: 0;
}

.cart-show-body-content {
  color: #5f676ee3;
  font-size: 1.3rem;
  margin-top: 6px;
}

.cart-show-body-price {
  font-size: 1.4rem;
  line-height: 1.1;
}

.cart-show-body-price-product-cost {
  color: rgb(222, 49, 19);
  font-weight: 600;
}

.cart-show-body-price-multiply {
  font-size: 11px;
  color: #6d767ec7;
}

.cart-show-body-price-quantity {
  font-size: 14px;
  color: #6d767ec7;
}

.cart-show-body-price__delete-btn {
  font-weight: 700;
  display: block;
  padding: 7px 0;
}

.cart-show-view-cart {
  background: var(--primary-color);
  width: 118px;
  border-radius: 3px;
  font-size: 1.3rem;
  display: block;
  text-align: center;
  color: white !important;
  border: 1px solid #eb7310;
  box-shadow: 0px 1px 4px 1px #8b6f6f;
  float: right;
}

.cart-show-view-cart:hover {
  background-color: var(--primary-color);
  opacity: 0.8;
}

/*END CSS EMPTY CART */

/* css cart badge */
.header__search-cart-badge {
  background-color: white;
  width: 19px;
  position: absolute;
  top: 16px;
  right: 43px;
  border-radius: 15px;
  border: 2px solid #f1520a;
  box-shadow: 0px 2px 3px #936868;
}

.header__search-cart-badge-icon {
  font-size: 12px;
  color: var(--primary-color);
  font-weight: 500;
}
/* end css cart badge */

/* CSS CATEGORY */

.app__container {
  padding-top: 36px;
}

.category {
  background: white;
  border-radius: 2px;
}

.category-header {
  padding: 15px;
  border-bottom: 1px solid #9b959570;
  font-size: 14px;
  font-weight: 700;
}

.category-header-icon {
  margin-right: 7px;
}

.category-list {
  padding: 22px;
  font-size: 1.3rem;
  line-height: 1.6;
  font-weight: 500;
}

.category-list__item {
  margin-bottom: 6px;
  margin-left: 5px;
  position: relative;
}

.category-list__item a {
  text-decoration: none;
  color: black;
}

.category-list__item--active a {
  color: var(--primary-color);
}

.category-list__item--active::after {
  content: "";
  position: absolute;
  left: -8px;
  bottom: 7px;
  border-width: 4px;
  border-style: solid;
  border-color: transparent transparent transparent red;
}

/* END CSS CATEGORY */

/* HOME SORT & FILTER */
.home-filter {
  display: flex;
  justify-content: space-between;
  padding: 13px 20px;
  background-color: #9d96a31c;
  border-radius: 2px;
  font-size: 1.3rem;
  height: 60px;
}

.home-filter__left {
  display: flex;
}

.home-filter__left p {
  align-items: center;
}

.home-filter__left button {
  margin: 0 5px;
  border: none;
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
}

.home-filter__left button:nth-child(3) {
  background-color: var(--primary-color);
}

.home-filter__right {
  display: flex;
}

.home-filter__date {
  padding: 11px;
  font-size: 15px;
}

.home-filter__page-move i:hover {
  opacity: 0.7;
}

.home-filter__page-move i:first-child {
  padding: 11px;
  background-color: white;
}

.home-filter__page-move i:last-child {
  padding: 11px;
  background-color: rgba(92, 82, 82, 0.251);
}

.home-filter__left-price-option {
  background-color: white;
  border-radius: 2px;
  position: relative;
  width: 200px;
  margin-left: 5px;
}

.price-option__label {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.home-filter__left-price-option:hover .price-option__price-sort {
  display: block;
}

.price-option__price-sort {
  background-color: #eceff3f7;
  position: absolute;
  top: 34px;
  width: 100%;
  padding: 10px;
  display: none;
  z-index: 1;
}

.price-option__price-sort a {
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
  color: black;
}

.price-option__price-sort a:hover {
  color: red;
}

/* CSS PRODUCT */
.home-product {
  margin-top: 5px;
}

.product {
  font-size: 1.3rem;
  border: 1px solid #c7bebec9;
  background-color: white;
  box-shadow: 20px 20px 50px 10px #f04b31 inset;
  border-radius: 2px;
  position: relative;
}

.product__img {
  width: 100%;
  height: auto;
  border-radius: 1px;
}

.product__name {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 500;
  margin-top: 5px;
}

.product__price {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  font-weight: 600;
}

.product__price-old {
  color: grey;
  text-decoration: line-through;
}

.product__price-new {
  color: var(--primary-color);
}

.product__action {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 0 5px;
}

.product__action-heart {
  color: red;
  font-weight: 800;
}

.product__action-star {
  color: yellow;
}

.product__action-star i:last-child {
  color: #d2cdcce5;
}

.product__origin {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 0 5px;
  color: #7d7877;
  font-weight: 400;
}
.product__like {
  position: absolute;
  top: 22px;
  background-color: var(--primary-color);
  padding: 4px;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  left: -6px;
}

.product__like::before {
  content: "";
  border-bottom: 3px solid transparent;
  border-top: 3px solid #ee4d2d;
  border-left: 3px solid transparent;
  border-right: 3px solid #ee4d2d;
  position: absolute;
  top: 24px;
  left: 0px;
}

.product__like i {
  margin-right: 3px;
  font-size: 13px;
}

.product__sales {
  background: #b2b257;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px;
  color: white;
}

.product__sales::after {
  content: "";
  border-top: none;
  border-bottom: 11px solid transparent;
  border-right: 35px solid rgb(178, 178, 87);
  border-left: 35px solid rgb(178, 178, 87);
  position: absolute;
  left: 0px;
  top: 100%;
  right: 0;
}

.product__sales p {
  padding: 0;
  margin: 0;
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 700;
}
.product__sales span {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

/*END CSS PRODUCT */

/* CSS FOOTER */
.footer {
  border-top: 5px solid #ff4f00;
  margin-top: 40px;
}

.footer-content {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  margin-top: 24px;
  font-size: 1.4rem;
}

.footer-content-care {
  text-align: center;
  flex: 1;
}
.footer-content-care ul {
  list-style: none;
  padding: 0;
}

.footer-content-care li {
  margin-bottom: 10px;
}

.footer-content-care a {
  text-decoration: none;
  color: black;
}

.footer-content-care a:hover {
  color: red;
}
.footer-content-care h3 {
  text-transform: uppercase;
  font-size: 16px;
}

.footer-content-qr {
  position: relative;
}

.footer-content-qr h3 {
  text-transform: uppercase;
  font-size: 16px;
}

.footer-content-qr__code {
  display: inline-block;
}

.footer-content-qr__code > img {
  width: 100px;
}

.footer-content-qr__social {
  display: inline-block;
  position: absolute;
  top: 69px;
  margin-left: 20px;
  cursor: pointer;
}
.footer-content-qr__social img:last-child {
  width: 127px;
}

.footer-content-qr__social img:first-child {
  width: 95px;
}

.footer-copywright {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  background-color: #7d787750;
  padding-top: 10px;
  margin-top: 30px;
}

/* END CSS FOOTER */
